#run_button{
	background-color: #449744;
	color: white;
}

#stop_button{
	background-color: #d9534f;
	color: white;
}

button{
	border: 1px solid #2b2b2b;
	margin-bottom: 1px;
	padding: 5px;
}

html, body{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter.gutter-horizontal {
	cursor: col-resize;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.gutter.gutter-vertical {
	cursor: row-resize;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.notranslate {
	display: flex;
	flex-direction: column;
	height: 100%;
}
#taskbar{
	flex: 0 1 auto;
	margin: 0.3em;
}
.split{
	flex: 1 1 auto;
}

.fa-copy{
	cursor: pointer;
}